html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.topmenu {
    width: 100%;
    background-color: #F7F7F7;
    padding: 10px 0 10px 0;
}

.welcomeMessage {
    font-size: 2em;
    margin-bottom: 15px;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

.box {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #eee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.tabContainer {
    margin-top: 15px;
}

.tabContainer ul {
    overflow: hidden; /*Clearing float. */
}

.tabContainer li {
    float: left;
    list-style: none;
}

.button {
    background: #F7F7F7;
    border: 1px solid #fcfcfc;
    border-right: 0;
    color: #333;
    cursor: pointer;
    display: block;
    line-height: 35px;
    padding: 0 20px;
    text-decoration: none;
}

.button:hover {
    background: #eee;
}

.button.active {
    background: #ddd;
    border: 1px solid #fff;
    border-right: 0;
    color: #333;
}

.buttonMore {
    color: #fff;
    background-color: #5bb75b;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-right: 0;
    cursor: pointer;
    display: block;
    line-height: 35px;
    padding: 0 20px;
    font-weight: bold;
    text-decoration: none;
}

.buttonMore:hover {
    color: #333;
    background-color: #51a351;
    text-decoration: none;
}

.buttonMore.active {
    border-right: 0;
    color: #333;
    text-decoration: none;
}

.tabDetails {
    background: #F7F7F7;
    border: 1px solid #fff;
}

.tabContentsTrip {
    padding: 5px 10px;
    background-color: #eee;
    min-height: 430px;
}

footer p {
    font-size: 0.75em;
}

.loginInput {
    height: 25px;
}

a.trippy {
    /* Applies to unvisited links of class trippy */
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a.trippy:link {
    /* Applies to unvisited links of class trippy */
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a.trippy:visited {
    /* Applies to visited links of class trippy */
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a.trippy:hover {
    /* Applies to links under the pointer of class trippy */
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a.trippy:active {
    /* Applies to activated links of class trippy */
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.error {
    color: Red;
}

.noButton {
    padding-top: 47px;;
}

.noButtonIndex {
    padding-top: 37px;;
}

#map_canvas {
    height: 500px;
    width: auto;
    margin: 10px;
    border: 5px solid rgb(205, 205, 205);
}

.marginRight {
    margin-right: 20px;
}

#resetMap {
    text-align: center;
    margin-left: 85%;
    margin-right: 10px;
}

.smallButton {
    display: inline;
}

.noDisplay {
    display: none;
}
label{
    margin-right: 20px;
}

.moreButton{
    background-color: rgb(244,165,255);
}
.searchfield{
   margin-top: 10px;
}
