<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="
       	        http://www.springframework.org/schema/security
       	        http://www.springframework.org/schema/security/spring-security-3.1.xsd
	            http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
				http://www.springframework.org/schema/tx
		        http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		        http://www.springframework.org/schema/context
		        http://www.springframework.org/schema/context/spring-context-3.1.xsd ">

    <!-- Spring Security -->
    <sec:global-method-security secured-annotations="enabled" jsr250-annotations="enabled" />

    <sec:http auto-config="true" access-denied-page="/pages/accessDenied.xhtml">
        <sec:intercept-url pattern="/pages/user/**" access="ROLE_USER"/>
        <sec:intercept-url pattern="/pages/admin/**" access="ROLE_ADMIN"/>
        <sec:form-login login-page="/pages/index.xhtml" default-target-url="/pages/user/welcome.xhtml" authentication-failure-url="/pages/index.xhtml"/>
        <!-- hier nog session control -->
    </sec:http>

    <!-- manager responsible for loading user account with assigned roles -->
    <sec:authentication-manager alias="authenticationManager">
        <sec:authentication-provider user-service-ref="userService"/>
    </sec:authentication-manager>

    <bean class="org.springframework.security.authentication.event.LoggerListener"
          id="loggerListener"/>

    <!-- Spring will scan your classpath for the Spring Annotations in your classes and will automatically create service
        implementation instances, inject dependencies , etc-->
    <context:component-scan base-package="be.kdg.groeph.service"/>
    <context:component-scan base-package="be.kdg.groeph.dao"/>
    <context:component-scan base-package="be.kdg.groeph.model"/>
    <context:component-scan base-package="be.kdg.groeph.bean"/>
    <context:component-scan base-package="be.kdg.groeph.util"/>

    <!-- Activates annotation-based bean configuration -->
    <context:annotation-config/>

    <!-- Data Source Declaration -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/groepH"/>
        <property name="username" value="groeph"/>
        <property name="password" value="groeph"/> <!-- Vroeger groepH2013 -->
    </bean>

    <!-- Session Factory Declaration -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
        <property name="packagesToScan">
            <list>
                <value>be.kdg.groeph.model</value>
                <value>be.kdg.groeph.service</value>
                <value>be.kdg.groeph.dao</value>
                <value>be.kdg.groeph.model</value>
                <value>be.kdg.groeph.util</value>
            </list>
        </property>
    </bean>

    <!-- Transaction Manager is defined -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Enable the configuration of transactional behavior based on annotations -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basename" value="classpath:messages"/>
    </bean>

    <bean class="org.springframework.web.servlet.i18n.CookieLocaleResolver" id="localeResolver" />

    <bean id="mailSender" class ="org.springframework.mail.javamail.JavaMailSenderImpl" >
        <property name="host" value="smtp.gmail.com" />
        <property name="port" value="587" />
        <property name="username" value="groeph2013@gmail.com" />
        <property name="password" value="groepH2013_softdev" />
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
            </props>
        </property>
    </bean>

</beans>
